vector-migration/embeddingsGeneration.json
{
  "name": "embeddingsGeneration",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -112
      ],
      "id": "ca95e46a-8686-4a94-aa2d-505c3d980272",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "collection": "incidents",
        "options": {},
        "query": "{\n  \"embedding\": { \"$exists\": false } \n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        96,
        -112
      ],
      "id": "304a7ab0-adc1-47e5-85a8-e88e88c434be",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "EXSl5jdLbJShsRzW",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7313dc97-58f9-4d6a-a8df-e6c03ead1567",
              "name": "embeddingText",
              "value": "={{ $json.embeddingText }}",
              "type": "string"
            },
            {
              "id": "950e2445-5be0-4635-8f00-c30cdd656d52",
              "name": "_id",
              "value": "={{ $json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -112
      ],
      "id": "baa1fe55-c42f-4fc7-8695-a25cd53f8f6a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "incidents",
          "mode": "list",
          "cachedResultName": "incidents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        544,
        -112
      ],
      "id": "b7d84e9a-5f6e-47ac-86db-9d69884d74ff",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "gTofn4yEc24IVEu0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.embeddingText }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "mongodb_id",
                "value": "={{ $json._id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        680,
        112
      ],
      "id": "7bacdcfe-e484-40ac-9d57-6608de3501d4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        552,
        112
      ],
      "id": "1b3e2d00-0100-48b3-9c80-87efac805369",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "LjAWz3nV86CYQNpx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd52b2dd-5a4f-4901-b4dd-32961a065a30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ba805a388991bf841d4fe709744e24fd33b47f0e35bb17f758e3ab5b4775f73"
  },
  "id": "WttAeSH1oRD8kX5p",
  "tags": []
}